body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Josefin Sans", sans-serif;
    color: #474747;
}

html {
    scroll-behavior: smooth;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Top Section */
.top-section {
    padding: 24vh;
    background-color: #B5D6D6;
    background-image: url(/img/Rains.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.location-info {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #34495e;
}

.date-location {
    margin-right: 10%;
}

.date,
.location,
.temperature {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
}

.date {
    font-weight: 700;
    line-height: 30px;
}

.temperature {
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;
}

.weather-icon {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
}

.weather-icon img {
    width: 100%;
    height: auto;
}

/* Middle Section */
.mid-section {
    background-color: #B5D6D6;
    background-image: url(/img/Clouds.png);
    background-size: cover;
    text-align: center;
}

.day {
    padding-top: 2%;
    font-size: 28px;
    line-height: 28px;
    font-weight: 700;
}

.status {
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
}


/* End Section */
.end-section {
    background-color: #F5F9F9;
    padding: 15vh;
    text-align: center;
}